<h2>Registration</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area(:address, :size => '19x5') %>
  </div>

    <div class="field">
    <%= f.label :state %><br />
    <%= f.select( :state, ['Karnataka','Andhra Pradesh','Tamil Nadu','Kerala','Maharashtra'] ) %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
