<% if customer_signed_in? %>
     <div class="back">
     <!-- user can logout after seeing the the details of the subject -->
          <br><br><br>  <%= link_to('Logout', destroy_customer_session_path, :method => :delete, :style => "color:cyan;margin-left:100px;font-size:20px") %></div>
<%end%>
